.logo {
    display: block;
    background: url(../../../public/images/rick_and_morty_logo.png) no-repeat center;    
    width: 600px;
    height: 200px;
    margin: 0 auto 16px;
}

@media screen and (max-width: 700px) {
    .logo {
        width: 100%; 
        background-size: contain;     
    }    
}

@media screen and (max-width: 500px) {
    .logo {        
        height: 135px;      
    }    
}
